@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald-Light.woff2') format('woff2'),
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
}

$white-color: #FFFCFC;
$black-color: #323232;
$red-color: #B70000;

body {
    font-family: 'Oswald-Light', sans-serif;
    letter-spacing: 0.01em;
    position: relative;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    width: calc(100vw - 14%);
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.main-menu__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    max-width: 600px;
    margin: 0 auto;
    padding: 45px;
}

.main-menu__link {
    text-decoration: none;
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 18px;
    color: $black-color;
    text-transform: uppercase;

    &:hover {
        color: $red-color;
    }
}

.hero {
    background-image: url(../img/hero-pic.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100%;
    padding-top: 200px;
    box-sizing: border-box;
    position: relative;

    &__logo-holder {
        background: rgba(255, 252, 252, 0.4);
        background-blend-mode: lighten;
        width: 100%;
        height: 310px;
        display: flex;
        justify-content: center;

        & img {
            height: 100%;

        }
    }

    &__motto {
        position: absolute;
        bottom: 65px;
        color: $white-color;
        font-family: 'Oswald-Regular', sans-serif;
        font-size: 18px;
        text-transform: capitalize;
        width: 100%;
        text-align: center;
    }
}

.testimonials {
    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    &__item {
        width: 50%;
        padding: 65px 0;
    }

    &__text {
        width: 80%;
        margin: 0 auto;
        min-width: 350px;
        font-family: 'Oswald-Regular', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        line-height: 35px;
    }

    &__subtext {
        width: 80%;
        margin: 0 auto;
        min-width: 350px;
        font-family: 'Oswald-Regular', sans-serif;
        font-size: 18px;
        text-align: center;
        padding-top: 35px;
    }

}

.section-title {
    font-family: 'Oswald-Light', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 54px;
    text-align: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;

    &::after {
        content: ' ';
        position: absolute;
        top: 90px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 313px;
        height: 4px;
        border-bottom: 3px solid $red-color;
        transform: rotate(-1deg);
    }
}

.section-content {
    margin: 40px 0;
}

.section-text {
    font-size: 18px;
    line-height: 1.7em;
}

.about {
    &__picture-reel {
        list-style: none;
        display: flex;
        padding-left: 0;
    }

    &__picture {
        width: 25%;
        height: 200px;
        overflow-y: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.follow {
    background-color: $black-color;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
    font-size: 36px;
    text-transform: uppercase;
    color: $white-color;
    letter-spacing: 1px;
    }

    & a {
        font-size: 42px;
        margin-left: 25px;
        color: $white-color;

        &:hover {
            color: $red-color;
        }

    }
    
}

.believe {

    &__pillars-list {
        list-style: none;
        display: flex;
        padding-left: 0;
        margin: 0 auto;
        width: 60%;
        min-width: 400px;
        display: flex;
        justify-content: space-between;
    }

    &__pillars-item {
        text-align: center;
    }

    &__pillars-icon {
        color: $red-color;
        font-size: 48px;
    }

    &__pillars-title {
        
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    }

    &__text_accent {
        font-size: 24px;
        text-transform: uppercase;
        padding-right: 5px;
    }
}

.meetings {
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 50%;
    }

    &__map {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 0 25px;
        padding-top: 1.5em;
    }
}

.footer {
    background-color: $black-color;
    height: 350px;
    color: $white-color;
    font-size: 18px;

    &__content {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: start;
        padding: 30px 100px 0;
        box-sizing: border-box;
    }

    &-item {
        width: 400px;
    }

    &-item__title {
        font-family: 'Oswald-Regular', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &-item__list {
        list-style: none;
        padding: 0;
    }

    &-item__link {
        text-decoration: none;
        color: $white-color;
        text-transform: uppercase;
        line-height: 2em;

        &:hover {
            color: $red-color;
        }

        & i {
            font-size: 24px;
            padding-right: 5px;
        }
    }



    &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        box-sizing: border-box;
    }


}