@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald-Light.woff2') format('woff2'),
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
}

$white-color: #FFFCFC;
$black-color: #323232;
$red-color: #B70000;

@mixin tablet-and-smaller {
    @media (max-width: 850px) {
        @content;
    }
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Oswald-Light', sans-serif;
    letter-spacing: 0.01em;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

main {
    flex: 1 0 auto;
}

.container {
    max-width: 1240px;
    width: calc(100vw - 14%);
    margin: 0 auto;

    @include tablet-and-smaller {
        width: calc(100vw - 6%);
    }

    @include tablet-and-smaller {
        width: calc(100vw - 10%);
    }
}

.header {
    position: absolute;
    z-index: 1;
    width: 100%;

    &__logo {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            height: 100%;

            @include for-phone-only {
                height: 60%;
            }
        }
    }
}

.main-menu {
    &__list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        max-width: 600px;
        margin: 0 auto;
        padding: 45px;

        @include for-phone-only {
            flex-direction: column;
            align-items: center;
            padding: 15px;
        }
    }

    &__link {
        text-decoration: none;
        font-family: 'Oswald-Regular', sans-serif;
        font-size: 18px;
        color: $black-color;
        text-transform: uppercase;

        &:hover {
            color: $red-color;
        }
    }
}

.hero {
    background-image: url(../img/hero-pic.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;

    @include for-phone-only {
        height: 75vh;
    }

    &__logo-holder {
        background: rgba(255, 252, 252, 0.4);
        background-blend-mode: lighten;
        width: 100%;
        height: 310px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet-and-smaller {
            height: 250px;

        }

        @include for-phone-only {
            height: 200px;
        }

        & img {
            height: 100%;

            @include for-phone-only {
                height: 60%;
            }
        }
    }

    &__motto {
        position: absolute;
        bottom: 65px;
        color: $white-color;
        font-family: 'Oswald-Regular', sans-serif;
        font-size: 18px;
        text-transform: capitalize;
        width: 100%;
        text-align: center;
    }
}

.testimonials {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;

        @include tablet-and-smaller {
            flex-wrap: wrap;
        }
    }

    &__item {
        width: 50%;
        padding: 65px 0;

        @include tablet-and-smaller {
            width: 100%;
            padding: 45px 0;
        }
    }

    &__text {
        width: 80%;
        margin: 0 auto;
        min-width: 350px;
        font-family: 'Oswald-Regular', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        line-height: 35px;

        @include tablet-and-smaller {
            font-size: 18px;
            line-height: 26px;
        }

        @include for-phone-only {
            min-width: 250px;
        }
    }

    &__subtext {
        width: 80%;
        margin: 0 auto;
        font-family: 'Oswald-Regular', sans-serif;
        font-size: 18px;
        text-align: center;
        padding-top: 35px;
    }

}

.section {
    &-title {
        font-family: 'Oswald-Light', sans-serif;
        font-size: 36px;
        text-transform: uppercase;
        line-height: 54px;
        text-align: center;
        position: relative;
        padding: 30px 0;

        @include for-phone-only {
            font-size: 28px;
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 90px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 313px;
            height: 4px;
            border-bottom: 3px solid $red-color;
            transform: rotate(-1deg);

            @include for-phone-only {
                width: 250px;
            }
        }
    }

    &-content {
        margin: 40px 0;
    }

    &-text {
        font-size: 18px;
        line-height: 1.7em;
    }
}

.about {
    &__picture-reel {
        list-style: none;
        display: flex;
        padding-left: 0;

        @include for-phone-only {
            flex-wrap: wrap;
        }
    }

    &__picture {
        width: 25%;
        height: 200px;
        overflow: hidden;

        @include for-phone-only {
            width: 50%;
            height: 120px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.follow {
    background-color: $black-color;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 36px;
        text-transform: uppercase;
        color: $white-color;
        letter-spacing: 1px;
    }

    & a {
        font-size: 42px;
        margin-left: 25px;
        color: $white-color;

        &:hover {
            color: $red-color;
        }

    }

}

.believe {

    &__pillars-list {
        list-style: none;
        display: flex;
        padding-left: 0;
        margin: 0 auto;
        width: 60%;
        min-width: 400px;
        display: flex;
        justify-content: space-between;

        @include for-phone-only {
            flex-wrap: wrap;
            width: 100%;
            min-width: 100%
        }
    }

    &__pillars-item {
        text-align: center;

        @include for-phone-only {
            width: 50%;
        }
    }

    &__pillars-icon {
        color: $red-color;
        font-size: 48px;

        @include for-phone-only {
            font-size: 42px;
        }
    }

    &__pillars-title {

        font-family: 'Oswald-Regular', sans-serif;
        font-size: 24px;
        text-transform: uppercase;

        @include for-phone-only {
            font-size: 18px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 20%;

        @include tablet-and-smaller {
            width: 100%;
            padding: 0 5%;
        }
    }

    &__text {
        line-height: 1.15em;
    }

    &__text_accent {
        font-size: 24px;
        text-transform: uppercase;
        padding-right: 5px;
    }
}

.meetings {
    &__content {
        display: flex;
        justify-content: space-between;

        @include tablet-and-smaller {
            flex-wrap: wrap;
        }
    }

    &__info {
        width: 50%;

        @include tablet-and-smaller {
            width: 100%;
        }
    }

    &__map {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 0 25px;
        padding-top: 1.5em;

        @include tablet-and-smaller {
            width: 100%;
            padding: 0;
        }
    }

    &__iframe {
        @include for-phone-only {
            width: 100%;
        }
    }
}

.footer {
    background-color: $black-color;
    height: 350px;
    color: $white-color;
    font-size: 14px;
    flex-shrink: 0;

    @include for-phone-only {
        height: 400px;
        font-size: 14px;
    }

    &__content {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: start;
        padding: 30px 100px 0;
        box-sizing: border-box;

        @include for-phone-only {
            padding: 20px 20px 0;
            flex-wrap: wrap;
        }
    }

    &-item {
        width: 400px;

        @include for-phone-only {
            width: 100%;
        }
    }

    &-item__title {
        font-family: 'Oswald-Regular', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &-item__list {
        list-style: none;
        padding: 0;
    }

    &-item__link {
        text-decoration: none;
        color: $white-color;
        text-transform: uppercase;
        line-height: 2em;


        &:hover {
            color: $red-color;
        }

        & i {
            font-size: 24px;
            padding-right: 5px;
        }
    }



    &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        box-sizing: border-box;

        @include for-phone-only {
            flex-direction: column;
            padding: 0;
            padding-top: 15px;
            text-align: center;
        }
    }


}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.give {
    &__title {
        margin-top: 250px;

        &::after {
            border: none;
        }
    }

    & .section-text {
        text-align: center;
    }

    &__button-group {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        margin-bottom: 50px;

        & li {
            margin-bottom: 35px;
        }

        @include for-phone-only {
            flex-wrap: wrap;
        }
    }

    &__button {
        padding: 10px 25px;
        background-color: $red-color;
        color: $white-color;
        text-decoration: none;
        border-radius: 2px;
        transition: .5s;
        text-transform: capitalize;
        

        &:hover {
            background-color: darken($red-color, 5);
            -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
        }

        &:focus, &:active {
            background-color: darken($red-color, 10);
            -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
        }
    }

}

.hidden {
    display: none;
}